 <!-- could be used as a variable for cards + it's styles -->
 <!-- not in use -->

<div class="card-body">
    <div class="modal-header" style="display: block;">
        <button type="button" class="btn-close btn-block DeleteButton float-end" data-bs-toggle="modal" data-bs-target="#DeleteModal" aria-label="Close"></button>
        <h5 contenteditable="True" class="card-title text-black">Title</h5>
    </div>
    <h6 contenteditable="True" class="card-subtitle mb-2 text-body-secondary">Subtitle</h6>
    <ul class="list-group content_group">
    </ul>
    <div class="d-flex justify-content-evenly">
        <button class="card-link AddLineButton btn btn-primary btn-sm ps-2 pe-2 ms-1">Add Line</button>
        <button class="card-link DoneButton btn btn-primary btn-sm ps-2 pe-2 ms-1">Done</button>
    </div>
</div>

