<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- manual path 
    <link rel="stylesheet" href="../../bootstrap-5.3.2-dist/css/bootstrap.css">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css') }}">
    <title>offline_todo</title>
</head>
<body style="background-color:#00a0e4;">
    <main>
        {% include "navbar.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto">
                    <div class="vstack DoneBar gap-2">
                        {% for card in ToDoCard %}
                            {% if card.done %}
                                <div class="card ToDoCard my_success_color text-light m-3" id="{{ card.id }}">
                                    <div class="card-body">
                                        <div class="modal-header">
                                            <h5 class="card-title text-black">{{ card.title }}</h5>
                                            <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#DeleteModal" aria-label="Close"></button>
                                        </div>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subtitle }}</h6>
                                        <ul class="list-group content_group">
                                            {% for one_content in card.content %}
                                                <li class="list-group-item" id="{{ one_content.id }}">
                                                    <div class="row">
                                                        <div class="col-2 align-self-center">
                                                            {% if one_content.checkbox_on_off == True %}
                                                                <input class="form-check-input me-1 fs-5" type="checkbox" value="" checked>
                                                            {% else %}
                                                                <input class="form-check-input me-1 fs-5" type="checkbox" value="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="contenteditable-div" contenteditable="False" aria-multiline="true" role="textbox" aria-placeholder="Enter text here">
                                                                {{ one_content.content_text }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="d-flex justify-content-evenly">
                                            <button class="card-link AddLineButton btn btn-primary btn-sm ps-2 pe-2 ms-1" style="display: none;">Add Line</button>
                                            <button class="card-link DoneButton btn btn-primary btn-sm ps-2 pe-2 ms-1">Not Done</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <!-- Vertical rule -->
                <!--
                <div class="col-1  d-none d-md-block border-end"></div>
                -->

                <div class="vr col-1"></div>
                
                <div class="col ToDoBar">
                    <div class="row">
                        <!--gpt-->
                        {% for card in ToDoCard %}
                            {% if card.done == False %}
                                <div class="card ToDoCard bg-secondary-subtle text-light m-3" id="{{ card.id }}">
                                    <div class="card-body">
                                        <div class="modal-header">
                                            <h5 contenteditable="True" class="card-title text-black">{{ card.title }}</h5>
                                            <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#DeleteModal" aria-label="Close"></button>
                                        </div>
                                        <h6 contenteditable="True" class="card-subtitle mb-2 text-body-secondary">{{ card.subtitle }}</h6>
                                        <ul class="list-group content_group">
                                            {% for one_content in card.content %}
                                                <li class="list-group-item" id="{{ one_content.id }}">
                                                    <div class="row">
                                                        <div class="col-2 align-self-center">
                                                            {% if one_content.checkbox_on_off == True %}
                                                                <input class="form-check-input me-1 fs-5" type="checkbox" value="" checked>
                                                            {% else %}
                                                                <input class="form-check-input me-1 fs-5" type="checkbox" value="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="contenteditable-div" contenteditable="true" aria-multiline="true" role="textbox" aria-placeholder="Enter text here">
                                                                {{ one_content.content_text }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="d-flex justify-content-evenly">
                                            <button class="card-link AddLineButton btn btn-primary btn-sm ps-2 pe-2 ms-1">Add Line</button>
                                            <button class="card-link DoneButton btn btn-primary btn-sm ps-2 pe-2 ms-1">Done</button>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!--gpt-->
                    </div>
                </div>
            </div>
        </div>

  
        <!-- Modal -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="DeleteModalLabel">Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Warning! Delete is permanent</p>
                    </div>
                
                    <div class="modal-footer">
                        <!-- data-bs-dismiss="modal" + function-->
                        <form action="">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
  


    </main>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='my_scripts.js')}}"></script>
    <!-- manual path
    <script src="../static/my_scripts.js"></script>
    -->


    
</body>
</html>
