.max-m {
    
}

/* gpt
.contenteditable-div {
    min-height: 60px; 
    overflow: hidden; 
    border: 1px solid #ced4da; 
    padding: 5px; 
    outline: none; 
    resize: none; 
    white-space: pre-wrap; 
}
*/


.my_success_color {
    background-color: #9fd7be;
}

.ToDoCard {
    max-width: 18rem;
}

